{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<h1>Thank you cards</h1>
<center><button type="button" class="button"><a href="/polls/write" STYLE="text-decoration: none">Leave a thank you card</button></center>
{% if latest_poll_list %}
    <ul>
    {% for opinion in latest_poll_list %}
        <div class="based-on-text">Department:{{opinion.department}} <br> Dear {{opinion.receiver}}, <br> {{ opinion.why_thank }}   <br>   
        	{% if opinion.anonymous %}
        		Anonymous
        	{% else %}
        		{{opinion.name}}
        	{% endif %}
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}