{% load staticfiles %}
<center>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<form action="polls/write/" method="post">{% csrf_token %}
	<ul>
		{{form.as_p}}
	</ul>
</br>
<ul>
	Anonymous feedback will be anonymous on the public feed, but not to HR/Admin staff!
</ul>
</br>
	<a href="/polls"><button type="button" class="button" STYLE="text-decoration: none">Cancel</button></a>
	<input type="submit" class="button" name="submit" value="Submit Opinion">

</form>
</center>